 <!DOCTYPE html>
 <html>
 <head>
 	<meta charset="utf-8">
 	<script type="text/javascript">
 		window.onload = () => {
 			let coords = document.getElementById("coords");

 			tracer = navigator.geolocation.watchPosition(function(pos){
						let currentPos = {"lat": pos.coords.latitude, "long": pos.coords.longitude, "acc": pos.coords.accuracy};
						coords.innerText = "x: " + pos.coords.longitude + "\ny: " + pos.coords.latitude;
					}, console.log, {
					  enableHighAccuracy: true,
					  maximumAge: 0
					})
 		}
 		function sendPts(comm) {
 			getCoords(comm);
 		}
 		
 		function getCoords(comm) {

 			if ("geolocation" in navigator) {
 					navigator.geolocation.getCurrentPosition(function(pos) {
						let currentPos = {"lat": pos.coords.latitude, "long": pos.coords.longitude, "acc": pos.coords.accuracy};
						
						make_XHR("GET", make_GET(comm, currentPos), true, "", response)

						function response(resp) {
							alert(resp + "\n" + pos.coords.accuracy);
						}
					}, console.log, {enableHighAccuracy: true});
 				}
			else {
			 	return 0
			}

 		}

 		function make_XHR(METHOD, LINK, SYNC, BODY, CALLBACK) {
			let xhr = new XMLHttpRequest();

			xhr.open(METHOD, LINK, SYNC);

			xhr.onreadystatechange = function () {
				if (xhr.readyState == 4) {
					CALLBACK(xhr.responseText);
				}
			}

			xhr.send(BODY);
		}
		function make_GET(target_link, params) {
			let p = [];
			for (let param in params) {
				p.push(param+'='+params[param]);
			}

			return target_link + '?' + p.join('&');
		}
 	</script>
 	<style type="text/css">
 		button, div {
 			width: 100%;
 			height: 150px;
 			font-size: 75px;
 			margin-bottom: 20px;	
 		}
 	</style>
 </head>
 <body>
 	<button onclick="sendPts('/coroner')">Концевая метка</button>
 	<button onclick="sendPts('/beacon')">Поставить маяк</button>
 	<div id="coords"></div>
 </body>
 </html>
